.marvelCharacters {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .character {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .character:hover {
    background-color: #f9f9f9;
  }
  
  .imageWrapper {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .name {
    margin-top: 10px;
  }
  
  .paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination a {
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    transition: background-color 0.3s;
  }
  
  .pagination a:hover {
    background-color: #f9f9f9;
  }
  
  .pagination .active a {
    background-color: #e1e1e1;
    pointer-events: none;
  }
  