.main {
    margin: 0 10%;
    font-size: 18px;
    text-align: center;
}

.upper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

@media (max-width:750px) {
    .upper {
        flex-direction: column-reverse;
    }
}
