.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  font-weight: bold;
}

.errorInput {
  border: 2px solid #ff0000;
}

.errorSelect {
  border: 2px solid #ff0000;
  background-color: #ffeeee;
}

.errorText {
  color: #ff0000;
  font-size: 14px;
  margin-top: 10px;
}

.button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.defaultImagesContainer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.defaultImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.defaultImage:hover {
  opacity: 1;
}

.selectedImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
}
.errorInput {
  border-color: red;
}
.errorText {
  color: red;
}

.imgBig {
  max-width: 100%;
  max-height: 400px;
  margin-top: 20px;
  border-radius: 8px;
}

.divImg {
  display: flex;
  justify-content: center;
}

.input,
.textarea,
.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.characterCount {
  font-size: 0.8rem;
  margin-left: 5px;
}

@media (max-width: 420px) {
  .defaultImagesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Define 2 columnas de tamaño flexible */
    grid-gap: 10px;
    /* Espacio entre las celdas */
    justify-content: center;
    justify-items: center;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
  }

  .form {
    gap: 16px;
  }

  .defaultImagesContainer {
    flex-wrap: wrap;
  }

  .defaultImage {
    width: 60px;
    height: 60px;
  }

  .selectedImage {
    width: 60px;
    height: 60px;
  }

  .imgBig {
    max-height: 300px;
  }
}