.contenido2 {
    margin: 0 5%;
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
 /* Cambia el color de fondo aquí */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .addButton {
    background-color: #4CAF50; /* Color verde para el estado "Agregar" */
  }
  
  .cancelButton {
    background-color: #FF0000; /* Color rojo para el estado "Cancelar" */
  }
  .addButton:hover {
    background-color: #1d4e1f; /* Cambia el color de fondo en estado "hover" aquí */
  }
  .cancelButton:hover {
    background-color: #cf0101; /* Color rojo para el estado "Cancelar" */
  }

  
  .result {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  
  @media (max-width: 500px) {
    .result {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #007bff;
      color: white;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      font-family: Arial, sans-serif;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
  


  @media (max-width: 750px) {
    .contenido2{
      font-size: 16px;
    }
  }