/* styles.module.css */

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-gap: 10px;
}


  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .rangeInput {
    height: 4px;
    -webkit-appearance: none;
    background-color: #dddddd;
    outline: none;
  }
  
  .rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .rangeInput::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .rangeInput::-ms-thumb {
    width: 16px;
    height: 16px;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
  }
  
  
  .selectInput {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 16px;
    color: #333333;
    width: 200px;
    transition: border-color 0.3s ease;
  }
  
  @media (max-width: 600px) {
   .selectInput {
    width: 130px;
   }
  }
  .selectInput:hover,
  .selectInput:focus {
    border-color: #999999;
  }
  
  .selectInput option {
    background-color: #ffffff;
    color: #333333;
  }
  
  .selectInput option:hover {
    background-color: #dfdfdf;
    color: #ffffff;
  }


  .resetF {
    margin-top: 30px;
    background-color: #b9b3b3;
    color: #333333;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    margin-top: 2%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .resetF:hover {
    background-color: #e5e5e5;
  }
  
  .resetF:focus {
    outline: none;
    box-shadow: 0 0 0 2px #999999;
  }
  