.container {
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
  }
  
  .footer {
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    list-style: none;
  }
  
  .navItem {
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: #6c757d;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-decoration: none;
  }
  
  
  .textCenter {
    text-align: center;
  }
  
  .textMuted {
    color: #6c757d;
  }
  
  .contactInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    margin-bottom: 10px;
}
  .contactInfo a {
    text-decoration: none;
    color: black;
    text-align: center;
}
@media (max-width: 400px) {
.contactInfo{
  flex-direction: column;
}
}

.contactItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.contactIcon {
    width: 32px; /* Ajusta el tamaño del ícono según sea necesario */
    height: 32px;
    margin-bottom: 5px;
}
