.buton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.allMenu {
  position: fixed;
  top: 0;
  right: -1000px;
  /* Oculta el menú fuera de la pantalla */
  transition: right 500ms ease;
  z-index: 99;
}
/* MobileNavHam.module.css */

.container {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.menu {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

.flex {
  left: 20px;
  top: 40px;
  position: absolute;
}

.logoMenu {
  position: absolute;
  top: 10%;
}

.cLink {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.link {
  border: 1px solid;
  margin-bottom: 20px;
  padding: 10px 100px;
  color: #333333;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  font-size: 20px;
  text-align: center;
}

.link:nth-child(even):hover {
  background-color: #FFA74D;
}

.link:nth-child(odd):hover {
  background-color: #53A1AB;
}
