.grid_container {
  display: grid;
  grid-template-columns: repeat(3,  1fr);
  gap: 20px;
  margin-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
}

@media (max-width: 1000px) {
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.link {
  background-color: rgb(82,160,171);
  border-radius: 4px;
  text-decoration: none;
  color: black;

}


.grid_item {
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  height: auto;
}

.image {
  width: 100%;
  height: 400px;
  border-radius: 4px;
}

.date {
  font-weight: bold;
}
.date p {
  text-decoration: none;
  color: black;
}

.resume {
  margin-top: 10px;
}

.image {
  box-shadow: 0px 10px 10px -6px black;
}