/* Estilos para la lista */
.ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.ul2 {
  list-style: none;
  text-align: left;
}

.ul3 {
  list-style: none;
  margin-bottom: 20px;
}

/* Estilos para cada elemento de la lista */
.li {
  width: 100%;
  /* Mostrar 2 elementos por fila */
  margin: 30px 0;
  padding: 10px 20px;
}

/* Estilos para cuando la pantalla sea lo suficientemente estrecha para mostrar solo 1 elemento por fila */
@media (max-width: 768px) {
  .mid {
    flex-direction: column;
  }

  .ul p {
    font-size: 16px;
  }

  .ul2 p {
    font-size: 16px;
  }

  .ul3 p {
    font-size: 16px;
  }
}

.mid {
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.div1 {
  flex-basis: 40%;

}

.div2 {
  flex-basis: 60%;
}

.precio {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.precio p {
  border-bottom: 1px solid;
  padding: 5px 15px;
  margin-bottom: 20px;

}

.main .li:nth-child(even) {
  background-color: #86bdb9;
}

.main .li:nth-child(odd) {
  background-color: #fbc58e;
}

.img {
  box-shadow: 0px 10px 10px -6px black;
  margin-bottom: 10px;
}

@media (max-width: 300px) {
  .img {
    width: 150px;
    height: 150px;
  }
}

.showMore {
  align-items: center;
  background-color: #FDA24B;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.showMore:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.showMore:hover:after {
  transform: translate(0, 0);
}

.showMore:active {
  background-color: #ffdeda;
  outline: 0;
}

.showMore:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .showMore {
    padding: 0 40px;
  }
}

.divBot {
  display: flex;
  justify-content: center;
  align-items: center;
}