.mobileMenuList {
  display: flex;

  list-style: none;
  padding: 0;

  justify-content: center;
  gap: 50px;
  
}

@media (max-width: 750px) {
  .mobileMenuList {
    padding: 0 5%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 0px;
    margin-top: 30px;
  }
  .mobileMenuItem {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 40px;
    background-color: rgb(239, 239, 239);
  }
}

.hr {
  margin-bottom: 10px;
 
  border: 1px solid orange;
}

.mobileMenuItem {
  margin-bottom: 10px;
}
.mobileMenuItem a {
  text-decoration: none;
  color: #0E5F86 ;
}
.mobileMenuItem a:hover {
  text-decoration: underline;
}
