

.tripspagecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .list {
    list-style-type: none;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .textContainer {
    max-width: 50%;
    margin: 0 20px;
  }

  .colordiv {
    background-color: rgb(28,106,126);
    width: 100%;
    color: black;
  }
  
  @media (max-width: 750px) {
    .content {
      flex-direction: column;
    }
  
    .textContainer {
      max-width: 100%;
      margin: 20px 0;
    }
    .description {
      font-size: 16px;
    }
  }
  