* {
margin: 0;
padding: 0;
}

body {
    width: 100%;
    cursor: url('/images/cursor.png'), auto;
}

::-webkit-scrollbar {
    display: none;
}

  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }


  html {
    scroll-behavior: smooth;
  }