.cityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-size: 18px;
  border-radius: 50px;
}

.cityContainerlat {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  margin-top: 2%;
}

@media (max-width: 900px) {
  .cityContainerlat {
    grid-template-columns: 1fr;

  }
}

.attractionsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px;
}
.atracciones {
  border-radius: 50px;
  background-color:rgb(255,185,110,85%);
}
.atracciones img {
  border-radius: 30px;
  box-shadow: 0px 10px 10px -6px black;
  margin-bottom: 1em;
}
.attraction {
  display: grid;
  flex-direction: row;
  grid-template-columns: 0.4fr 1fr;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right2 {
  padding: 15px 20px;
  border-radius: 25px;
  background-color: rgba(14, 151, 224, 30%);
}
@media (min-width: 1200px) {
.attraction {

  grid-template-columns: 1fr 1fr;

}
}

.attraction img {
  max-width: 100%;

}

.aside p {
margin-left: 3%;
margin-right: 3%;
}

.foodList {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.foodList li {
  margin-bottom: 5px;
}

/* Media Query para dispositivos móviles */
@media (max-width: 700px) {
  .cityContainer {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
  }

  .attractionsContainer {
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 10px;
  }

  .foodList {
    margin: 10px;
  }
}

@media (max-width: 1200px) {
  .attraction {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}