.homepage {
    margin-top: 4%;
}

.ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    background-color: rgb(211, 201, 201);
    padding: 10px;
    border-radius: 20px;
}

.ul li a:hover {
    text-decoration: underline;

}

.img {
    height: 50%;
    width: 100%;
    background-color: rebeccapurple;
    margin-top: 20px;
}

.logo {
    height: 35%;
    width: auto;
}

.first_div {
    display: flex;
    justify-content: center;
}


.first_div_1 {
    text-align: center;
    max-width: 60%;
}
.first_div_1 h1 {
   margin-bottom: 3%;
}
.first_div_1 p {
  font-size: 18px;
}


/* @media (max-width: 750px) {
    .logo {
      width: 70%;
    }
  } */