/* .imgbck {
    background-image: url('https://cdn.marvel.com/content/1x/gotgv3_base_set_dsk.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  
  .main {
    height: 400px;
    position: relative;
  }
  
}
*/
.triangulo {
    border-bottom: 400px solid #202020;
    border-right: 190px solid transparent;
    content: "";
    height: 0;
    left: 49.99%;
    position: absolute;
    transition: .5s ease;
    width: 0;
    z-index: 1;
    display: block;
}

.main {
    display: flex;
    height: 400px;
    width: 100%;
}

.left {
    flex: 1;
    background-color: #202020;
    
}

.imgbck {
    flex: 1;
    background-image: url('https://cdn.marvel.com/content/1x/gotgv3_base_set_dsk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
text-align: center;
justify-content: center;
align-items: center;
padding-top: 80px;
}

.contenido {
    margin-left: 10%;
}
.contenido a {
    text-decoration: none;
    color: white;
    padding: 3px 10px;
    border: white 2px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
   
}
.contenido p {

    color: white;
    font-size: 16px;
    text-align: left;
    padding-left: 12%;
   
   
}
.contenido a:hover {
border: gray 1px solid;
   
}