.menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 12px;
    text-align: center;
    align-items: center;
  }

  .menu li {
    padding: 10px 10px;
  }

  .menu li:hover {
   z-index: 2;
   border-bottom: 2px solid red;
  }

  .menu li a {
    text-decoration: none;
    color: #fff;
  }

  .interior {
    text-align: center;
    display: flex;
    justify-content: center;
  }