.navbar {
    background-color: #202020;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    border-bottom: 1px solid #393939;
}

.left-zone {
    display: flex;
    align-items: center;
    border: 1px solid #393939;
}

.login-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}

.middle-zone {
    display: flex;
    align-items: center;
    border: 1px solid #393939;
}

.middle-zone img {
    width: 100px;
}

.right {
    display: flex;
    align-items: center;
    text-align: center;
    
}

.right p {
margin: 0;
padding: 0;
}


.border {

}