.header {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 4px;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 32px;
}

.navigation a {
    color: #f0f0f0;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}